html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
button {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(192, 165, 218);
}

.logo {
  width: 300px;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ff1ba6;
}

#produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.produtos {
  width: 230px;
  margin: 30px;
  border: 1px;
  border-style: solid;
  border-color: #004aad;
  padding: 20px;
  background-color: none;

}
.produtos img {
  width: 100%;
}

.produtos p {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.button {
  background-color: #004aad;
    border: 1px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

form {
  border: 1px solid whitesmoke;
  border-radius: 0.3em;
  padding: 0.3em;
}

form input, form button {
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  padding: 0.2em;
}

form button {
  cursor: pointer;
  background: none;
  color: whitesmoke;
}

form button:hover {
  background-color: whitesmoke;
  color: blueviolet;
}
